@model IEnumerable<EcommerceAPI.Models.Basket>
<!--
<br />
<br />
<table class="table">
    <tdead>
        <tr>
            <th>Basket</th>
            <th>Product</th>
            <th>Order Quanitity</th>
            <th>Wishlist</th>
        </tr>
    </tdead>
    <tbody>
        @foreach (var item in Model)
        {

        }
    </tbody>
</table>
</div>
-->
