@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Bean Zone</h1>
    <div>
        <img src="bean-removebg-preview.png" alt="Bean Man" style="width:300px;height:600px;">
        <img src="/beanagain.jpg" alt="Bean Man" style="width:800px;height:600px;">
    </div>
</div>


